# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment
.env

# Database
*.sqlite3
data_backup.json

# Django static files
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Accidental files
=5.3
